<h2>Banking</h2>

<%= form_tag("/sessions/#{@user.id}", method: :delete) do %>
  <input type="submit" value="Log out">
<% end %>

<br>

<strong>My current balance: $<%= @user.balance.to_f / 100 %></strong>

<br>

<%= form_tag("/transactions", method: :post) do %>
  <fieldset style="width:20%">
    <legend>New transfer</legend>
    <p>
      <label for="receiver_id">To whom</label>
      <select id="receiver_id" name="receiver_id">
        <% @other_users.each do |user|%>
          <option value = "<%= user.id %>"><%= user.email %></option>
        <% end %>
      </select>
    </p>
    <p>
      <label for="amount">Amount(cents)</label>
      <input type="text" id="amount" name="amount" required>
    </p>
    <p>
      <label for="note">Note</label>
      <input type="text" id="note" name="note" required>
    </p>
    <p>
      <input type="submit" value="Execute">
    </p>
   </fieldset>
<% end %>

<br>

<h2>Transaction history</h2>
<table style="width:40%" border="1">
  <col width="200">
  <col width="200">
  <col width="200">
  <col width="500">
  <tr>
    <td> <strong> Time </strong></td>
    <td> <strong> Counterparty </strong></td>
    <td> <strong> Amount </strong></td>
    <td> <strong> Note </strong> </td>
  </tr>

  <% @user.history.each do |line| %>
    <tr>
      <td> <%= line[:date].to_formatted_s(:short) %></td>
      <td> <%= line[:counterparty] %></td>
      <td>$<%= line[:amount].to_f / 100  %></td>
      <td> <%= line[:note] %></td>
    </tr>
  <% end %>
</table>
